<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.shopin.expense.mapper.ShopSupplyBrandPadMapper" >
  <resultMap id="BaseResultMap" type="net.shopin.expense.po.ShopSupplyBrandPad" >
    <result column="shop_sid" property="shopSid" jdbcType="INTEGER" />
    <result column="supply_sid" property="supplySid" jdbcType="INTEGER" />
    <result column="brand_sid" property="brandSid" jdbcType="VARCHAR" />
    <result column="pad_nums" property="padNums" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    shop_sid, supply_sid, brand_sid, pad_nums
  </sql>
  <select id="getPadInfo" parameterType="net.shopin.expense.po.ExpenseSupplyArea" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from shop_supply_brand_pad
    <where>
    	<if test="shopSid!=null and shopSid!=''">
    		and shop_sid = #{shopSid}
    	</if>
    	<if test="supplySid!=null and supplySid!=''">
    		and supply_sid = #{supplySid}
    	</if>
    	<if test="brandSid!=null and brandSid!=''">
    		and brand_sid = #{brandSid}
    	</if>
    </where>
  </select>
  <select id="getPadByPad" parameterType="net.shopin.expense.po.ShopSupplyBrandPad" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from shop_supply_brand_pad
    <where>
    	<if test="shopSid!=null and shopSid!=''">
    		and shop_sid = #{shopSid}
    	</if>
    	<if test="supplySid!=null and supplySid!=''">
    		and supply_sid = #{supplySid}
    	</if>
    	<if test="brandSid!=null and brandSid!=''">
    		and brand_sid = #{brandSid}
    	</if>
    </where>
  </select>
  <insert id="insert" parameterType="net.shopin.expense.po.ShopSupplyBrandPad" >
    insert into shop_supply_brand_pad (shop_sid, supply_sid, brand_sid, 
      pad_nums)
    values (#{shopSid,jdbcType=INTEGER}, #{supplySid,jdbcType=INTEGER}, #{brandSid,jdbcType=VARCHAR}, 
      #{padNums,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="net.shopin.expense.po.ShopSupplyBrandPad" >
    insert into shop_supply_brand_pad
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shopSid != null" >
        shop_sid,
      </if>
      <if test="supplySid != null" >
        supply_sid,
      </if>
      <if test="brandSid != null" >
        brand_sid,
      </if>
      <if test="padNums != null" >
        pad_nums,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shopSid != null" >
        #{shopSid,jdbcType=INTEGER},
      </if>
      <if test="supplySid != null" >
        #{supplySid,jdbcType=INTEGER},
      </if>
      <if test="brandSid != null" >
        #{brandSid,jdbcType=VARCHAR},
      </if>
      <if test="padNums != null" >
        #{padNums,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="net.shopin.expense.po.ShopSupplyBrandPad">
  	update shop_supply_brand_pad
  	set pad_nums = #{padNums}
  	<where>
  		<if test="shopSid!=null and shopSid!=''">
    		and shop_sid = #{shopSid}
    	</if>
    	<if test="supplySid!=null and supplySid!=''">
    		and supply_sid = #{supplySid}
    	</if>
    	<if test="brandSid!=null and brandSid!=''">
    		and brand_sid = #{brandSid}
    	</if>
  	</where>
  </update>
</mapper>